.add{
    .err{
        color: rgb(255, 0, 51);
        font-size: 17px;
        font-weight: 400;
    }
    text-align: center;
    margin: 100px 0px 350px 0px;
    h1{
        color: #236E5B;
        font-weight: 400;
        margin: 0px 0px 80px 0px;
    }
    input{
        width: 600px;
        padding: 9px 20px;
        border: #236E5B;
        border-radius: 10px;
        border: 1px solid #236E5B;
    }
    button{
        padding: 7px 25px;
        margin-top: 15px;
        border: none;
        background-color: #D8E3D5;
        color: #236E5B;
        border-radius: 8px;
        font-size: 20px;
        font-weight: 300;
        &:hover{
            background-color: #c6d1c4;
        }
    }
}