#input{
    max-width: 1280px;
  margin: 0 auto;
  padding: 100px 0px 0px 0px;
  text-align: center;
    .input{
        width: 550px;
padding: 8px 15px;
            border: 1px solid #236E5B;
            border-radius: 5px;
            background-color: #E9EFE5;
        input{
            
        }
    }
}